/* .about__top{
    background: #000;
} */

.services__con{
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.services__con > p{
    font-size: 1.3rem;
    line-height: 1.5;
    /* color: rgb(181, 179, 179); */
    /* width: 60%; */
}

.medlogo{
    width: 400px;
    border-radius: 14px;
    border: 8px solid #03989E;
}

.services__con > p > span{
    color: #03989E;
}

.services__box{
    padding: 4rem;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(../IMAGES/contactlog.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    padding-bottom: 0;
}

.services__box > .ul__wrap{
    display: flex;
    gap: 1rem;
}

.services__box > .ul__wrap > ul > li{
    line-height: 1.5;
    font-size: 1.1rem;
    /* color: rgb(181, 179, 179); */
    padding: 0.6rem 0;
    list-style-type: none;
}

.serv_sect > h3{
    padding: 1rem 4rem;
    color: #03989E;
    text-transform: capitalize;
    font-size: 1.5rem;
}

.bl{
    margin: 4rem 0;
}

@media only screen and (max-width: 1024px) {
    .services__con{
        flex-direction: column;
        padding: 4rem 2rem;
    }

    .medlogo{
        width: 300px;
    }

    .services__box{
        flex-direction: column;
        padding: 2rem 1rem;
        background: none;
    }

    .services__box > .ul__wrap{
        flex-direction: column;
    }

    .serv_sect > h3{
        padding: 0.5rem 2rem;
    }


}